body{
    margin: 0;
    font-family: 'Open Sans',sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:greyscale;

}

a{
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
}